<!DOCTYPE html>
<html>
    <head>
        <title>Sync Gateway Log Reader GUI</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="{{ url_for('static', filename='assets/daterangepicker.css') }}">
<style>
canvas {
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
    }

.intInput{
  width: 80px;
}

.search{
}

.sgList {
  overflow: scroll;
}

#sgDbList{
}

#sgUserList{
  height: 200px;
}

.sgListData
{
width: 160px;
padding: 10px;
border: 2px solid #9294f6;
border-radius: 15px;
-moz-border-radius: 15px;
}

/* DivTable.com */
.divTable{
	display: table;
	width: 100%;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell, .divTableHead {
	border: 1px solid #999999;
	display: table-cell;
	padding: 3px 10px;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}

.userDetailList{
  border-radius: 6px; 
  border: 2px solid #d7d7d7;
  padding:0.5em;
  margin-bottom: 2px;
}

.userSyncStats{
  height: 400px;
  overflow: scroll;
}



.wsIdDetailRow {

}

.ws-dark {
        background-color: #dddbdb;
    }
.ws-light {

    }

  #chart1 {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 600px;
  }

  #chart2 {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 600px;
  }

</style>
</head>
<body>        

 

<div class="divTable">
  <div class="divTableBody">
  <div class="divTableRow">
      <div class="divTableCell">
        
          <div class="one" id="datepicker">
          <input type="text" id="dtFrom" name="dtFrom" placeholder="Start Date" value="">
          </br>
          <input type="text" id="dtTo" name="dtTo" placeholder="End Date" value="">
          </div>

      </div>
      <div class="divTableCell">
        
          <div class="one" id="search">
          <input class="searchInput" type="text" id="searchByUser" name="searchByUser" placeholder="User Name (Optional)" style="width:300px;">
          <button id="search" class="search">Search</button>
          </div>
          <label for="resultSize">Number of Results:</label><span id="resultSize" name="ResultSize" ></span>

      </div>
  </div>
  <div class="divTableRow">
      <div class="divTableCell">
        
          <div id="sgDbList" class="sgList">
            <label for="sgDbListOptions">SG DB List</label>
          </br>
            <select id="sgDbListOptions" style="width: 200px; overflow-x:auto;" size = 3></select>
          </div>

      </div>
      <div class="divTableCell">
       
          <div class="one" id="filterBy">
            <select name="syncResult" id="syncResult">
              <option value="any" selected="selected">Pulled: Any Result</option>
              <option value="full">Pulled: All Docs/Full Sync</option>
              <option value="nonFull">Pulled: Missing / Zero Docs</option>
              <option value="no">Pulled: Zero Docs Only</option>
            </select>

            <select name="noPushes" id="noPushes">
              <option value="any" selected="selected">Pushed: Any Result</option>
              <option value="no">Pushed: Zero Docs Only</option>
              <option value="only">Pushed: 1 or more Docs</option>
            </select>
          <label for="changeCount"> _changes Sent:</label><input class="intInput" type="text" id="changeCount" name="changeCount" placeholder="0 or greater" >
          <label for="syncTime">Time Connected:</label><input class="intInput" type="text" id="syncTime" name="syncTime" placeholder="(sec)" >
          <input type="checkbox" id="sinceZero" name="sinceZero" ><label for="sinceZero">Pulled: Since Zero</label> 
          <input type="checkbox" id="filterByChannels" name="filterByChannels" ><label for="filterByChannels">Pulled: Filtered By Channels</label>
          <input type="checkbox" id="hasPullAttachments" name="hasPullAttachments" ><label for="hasPullAttachments">Pulled: Attachments</label>  
          <input type="checkbox" id="hasAttachments" name="hasAttachments" ><label for="hasAttachments">Pushed: Attachments</label>          
          <input type="checkbox" id="conflicts" name="conflicts" ><label for="conflicts">Has Conflicts</label>
          <input type="checkbox" id="errors" name="errors" ><label for="errors">Has Errors</label>
          <button id="resetFilters" class="reset">Reset Filters</button>
          </div>

      </div>
  </div>
  <div class="divTableRow"  ">
      <div class="divTableCell">
        <div id="sgUserListBox" style="display: inline-block;">
        <label for="sgUserListSelct">SG Users List (Times Connected)</label>
      </br>
        <select id = "sgUserListSelect" style="width: 200px; overflow-x:auto;" size = 10></select>
      </br>
        Sort By:
        <input type="radio" id="userName" name="userSort" value="name" checked="checked" >
        <label for="userName">Name</label>
        <input type="radio" id="userCount" name="userSort" value="count">
        <label for="userCount">Count</label>
        </div>
      </div>
      <div class="divTableCell">
        
          <div id="chart1" style="height: 300px;">
            <canvas id="myChart1" ></canvas>
          </div>
         

      </div>
  </div>
  <div class="divTableRow" >

      <div class="divTableCell">

        <button style='float: right; position:relative;' class="zoomReset">Zoom Reset</button>

      </div>
      <div class="divTableCell">

        <div id="chart2" style="height: 300px;">
              <canvas  id="myChart2" ></canvas>
        </div>
        
      </div>
  </div>
  <div class="divTableRow">
      <div class="divTableCell">
        
              &nbsp;

      </div>
      <div class="divTableCell">
          
            <div id="stats">

              <div id="chart3" style="display: inline-block">
                    <canvas width="250" height="250" id="myChart3"></canvas>
              </div>
              <div id="chart4" style="display: inline-block">
                    <canvas width="250" height="250" id="myChart4"></canvas>
              </div>
              <div id="chart5" style="display: inline-block">
                <canvas width="250" height="250" id="myChart5"></canvas>
          </div>
          <div id="chart6" style="display: inline-block">
            <canvas  height="250" id="myChart6"></canvas>
        </div>
            </div>

      </div>
  </div>
  <div class="divTableRow">
      <div class="divTableCell">

            &nbsp;

      </div>
      <div class="divTableCell">

            <div class = "userSyncStats" id="userSyncStats"></div>

      </div>
  </div>
  </div>
  </div>
  <!-- DivTable.com -->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js" integrity="sha512-UXumZrZNiOwnTcZSHLOfcTs0aos2MzBWHXOHOuB0J/R44QB0dwY5JgfbvljXcklVf65Gc4El6RjZ+lnwd2az2g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="{{ url_for('static', filename='assets/jquery.daterangepicker.js') }}"></script>
<script src="{{ url_for('static', filename='assets/notify.min.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.2.0/dist/chartjs-plugin-datalabels.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-zoom/2.0.1/chartjs-plugin-zoom.min.js" integrity="sha512-wUYbRPLV5zs6IqvWd88HIqZU/b8TBx+I8LEioQ/UC0t5EMCLApqhIAnUg7EsAzdbhhdgW07TqYDdH3QEXRcPOQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<script type="text/javascript">

sgName = ""

$('#dtFrom').on('input',function(e){

  var from = $('#dtFrom').val();
    var to = $('#dtTo').val();
    if(from === "" || to === ""){
      $.notify("Pick a Date Range");
      return;
    }
    if(sgName === ""){
      sgDbListGet();
    }
});


$('#dtTo').on('input',function(e){

   var from = $('#dtFrom').val();
    var to = $('#dtTo').val();
    if(from === "" || to === ""){
      $.notify("Pick a Date Range");
      return;
    }

    if(sgName === ""){
      sgDbListGet();
    }
});


$('#sgDbListOptions').on('input',function(e){
  sgName = $('#sgDbListOptions').val();
});


$('input[type=radio][name=userSort]').change(function() {
    sgUserList()
});

  $("#resetFilters").click(function(e){
    $("#syncResult").val('any');
    $("#noPushes").val('any');
    $("#changeCount").val("");
    $("#syncTime").val("");
    $("#sinceZero").prop('checked', false);
    $("#errors").prop('checked', false);
    $("#conflicts").prop('checked', false);
    $("#filterByChannels").slideToggle();
    $('#hasAttachments').prop('checked', false);
    $('#hasPullAttachments').prop('checked', false);
  });

  $("#search").click(function(e){
    sgUserList()
    bigSearch()
  });

$(document).ready(function(){

getSampleDt()

dtConfig = {
  format:'YYYY-MM-DDTHH:mm:ss',
  time: {
		enabled: true
	},
  showShortcuts: true,
  customShortcuts: 
	[
  {
			name: 'last 24hr',
			dates : function()
			{
				var start = moment().day(0).toDate();
				var end = moment().day(1).toDate();
				return [start,end];
			}
		},
		{
			name: 'this week',
			dates : function()
			{
				var start = moment().day(0).toDate();
				var end = moment().day(6).toDate();
				return [start,end];
			}
		}
	],
  separator : ' to ',
	getValue: function()
	{
		if ($('#dtFrom').val() && $('#dtTo').val() )
			return $('#dtFrom').val() + ' to ' + $('#dtTo').val();
		else
			return '';
	},
	setValue: function(s,s1,s2)
	{
		$('#dtFrom').val(s1);
		$('#dtTo').val(s2);
	}

}

$('#dtFrom').dateRangePicker(dtConfig);
$('#dtTo').dateRangePicker(dtConfig);

});


function sgDbListGet(){
  $('#sgDbListOptions').empty()
  var data1 = {}
  data1['startDt'] = $('#dtFrom').val();
  data1['endDt'] = $('#dtTo').val();

    $.ajax({
      type: 'POST',
      url: '/sgDbList',
      data: JSON.stringify(data1),
      dataType: 'json',
      contentType:'application/json; charset=utf-8',
      success: function(data2) { 
        
        $.each(data2, function(key, value) {       
            if(key === 0){
              var html = '<option value="'+value.sgDb+'" selected>'+value.sgDb+'</option>';
              sgName = value.sgDb
            }else{
              var html = '<option value="'+value.sgDb+'" >'+value.sgDb+'</option>';              
            }              
            $("#sgDbListOptions").append(html)
          });
          $.notify("Find SG DBs","success");
      }
  });
}


function sgUserList(){
  $('#sgUserListSelect').empty()
  var data1 = {}
  data1["sgDb"] = $('#sgDbListOptions').val()
  data1['startDt'] = $('#dtFrom').val();
  data1['endDt'] = $('#dtTo').val();
  data1['sortBy'] = $('input[name="userSort"]:checked').val();

  data1["syncResult"] = $("#syncResult").val();
  data1["changeCount"] = $('#changeCount').val()
  data1["syncTime"] = $('#syncTime').val()
  data1["filterByChannels"] = $('#filterByChannels').is(":checked");
  data1["conflicts"] = $('#conflicts').is(":checked");
  data1["sinceZero"] = $('#sinceZero').is(":checked");
  data1["errors"] = $('#errors').is(":checked");
  data1["noPushes"] = $('#noPushes').val();
  data1["attachments"] = $('#hasAttachments').is(":checked")
  data1["attachmentsPull"] = $('#hasPullAttachments').is(":checked")


  $.ajax({
    type: 'POST',
    url: '/sgUserList',
    data: JSON.stringify(data1),
    dataType: 'json',
    contentType:'application/json; charset=utf-8',
    success: function(data2) { 
          $.each(data2, function(key, value) {

            var c = "dark"
          if(key % 2 == 0) {
            c = "light"
            }
          var option1 = '<option class="ws-'+c+'" onclick="userFill(\''+value.user+'\')"  >' +value.user+ ' ('+value.sgUserCount+')</option>'

          $('#sgUserListSelect').append(option1)
        });
        }
    });
  }

  function bigSearch(){


    var from = $('#dtFrom').val();
    var to = $('#dtTo').val();
    if(from ==="" && to === ""){
      $.notify("Pick a Date Range");
      return
    }

    if(sgName === ""){
      $.notify("Pick a SG DB");
      return
    }

    var data1 = {}
    data1["sgDb"] = $('#sgDbListOptions').val()
    data1['startDt'] = from
    data1['endDt'] = to
    data1["user"] = $('#searchByUser').val()
    data1["syncResult"] = $("#syncResult").val();
    data1["changeCount"] = $('#changeCount').val()
    data1["syncTime"] = $('#syncTime').val()
    data1["filterByChannels"] = $('#filterByChannels').is(":checked");
    data1["conflicts"] = $('#conflicts').is(":checked");
    data1["sinceZero"] = $('#sinceZero').is(":checked");
    data1["errors"] = $('#errors').is(":checked");
    data1["noPushes"] = $('#noPushes').val();
    data1["attachments"] = $('#hasAttachments').is(":checked")
    data1["attachmentsPull"] = $('#hasPullAttachments').is(":checked")

      $.ajax({
        type: 'POST',
        url: '/dateRange',
        data: JSON.stringify(data1),
        dataType: 'json',
        contentType:'application/json; charset=utf-8',
        success: function(data2) { 
          makeChart(data2)
        }
    });

    $.ajax({
        type: 'POST',
        url: '/dtDiffSecStats',
        data: JSON.stringify(data1),
        dataType: 'json',
        contentType:'application/json; charset=utf-8',
        success: function(data3) { 
         makeChartDiffSecStat(data3)
        }
    });

}

function  makeChartDiffSecStat(data){

  if(typeof c6 !== 'undefined'){
        c6.destroy(); 
        }

        labelsJ = []
        valuesDiffCount = []
        var ctx6 = document.getElementById('myChart6');

        $.each(data, function(key, value) {  
        valuesDiffCount.push(value.tCount)
        labelsJ.push(value.tRange.substring(4)) 
        });


    c6 = new Chart(ctx6, {
    type: 'bar',
    data: {
      labels: labelsJ,
      datasets: [
      {
        label: 'Sec/Minutes',
        data: valuesDiffCount,
        borderWidth: 2,
        type:'bar',
        borderColor: '#0066ff',
        backgroundColor: '#6699ff'
      }
    ]
    },
    options: {
      plugins: {
        datalabels: { 
                anchor: 'end',
                align: 'top',
                formatter: Math.round,
                font: {
                    weight: 'bold',
                    size: 16
                }
            },
        legend: { display: false }, 
      title: {
        display: true,
        text: 'Device Connected/Sync Time Length'
      }
    },
      maintainAspectRatio: false,
      scales: {
        y: {

        },
        x: {

        },
        
      }
    }
  });
}


function makeChart(data){

  if(typeof c1 !== 'undefined' || typeof c2 !== 'undefined' || typeof c3 !== 'undefined'|| typeof c4 !== 'undefined' || typeof c5 !== 'undefined'){
         c1.destroy(); c2.destroy(); c3.destroy(); c4.destroy(); c5.destroy(); 
        }
   $('#resultSize').html('');
   $('#userSyncStats').empty();
 var ctx1 = document.getElementById('myChart1');

 var ctx2 = document.getElementById('myChart2');

 var ctx3 = document.getElementById('myChart3');

 var ctx4 = document.getElementById('myChart4');

 var ctx5 = document.getElementById('myChart5');


  var valuesChangesCache = [];
  var valuesChangesQuery = [];
  var valuesSyncTime = [];
  var valuesErrors = [];
  var valuesConflicts = [];
  var labelsJ = [];
  var cbwsId = []
  var valuesSent = []
  var valuesChangesSent = []
  var valuesSentVsChangesSent = []
  var valuesPullAttachments = []
  var valuesPushAttCount = []
  var valuesPushCount = []
  var userSyncAllTrue = 0
  var userSyncAllFalse = 0
  var sinceZeroTrue = 0
  var sinceZeroFalse = 0
  var channelCache = 0
  var channelQuery = 0
  var resultShow = 0
  var countNoProblems = 0
  var countErrors = 0
  var countConflicts = 0

  var tFrom = new Date( $("#dtFrom").val());
  var xAxisStart = Math.floor(tFrom.getTime() / 1000);

  var tTo= new Date( $("#dtTo").val())
  var xAxisEnd =  Math.floor(tTo.getTime() / 1000);



  if($('#searchByUser').val() !== ""){
    makeUserDetails(data)
  }
  $.each(data, function(key, value) {   
    
    resultShow = resultShow + 1    
    valuesErrors.push(value.errors)
    valuesChangesCache.push(value.cRow)
    valuesChangesQuery.push(value.qRow)
    valuesSyncTime.push(value.dtDiffSec)
    valuesConflicts.push(value.conflicts)
    valuesSent.push(value.sentCount)
    valuesChangesSent.push(value.tRow)
    valuesSentVsChangesSent.push(value.sent/value.tRow)
    valuesPullAttachments.push(value.pullAttCount)
    valuesPushAttCount.push(value.pushAttCount)
    valuesPushCount.push(value.pushCount)
    labelsJ.push(value.dt.substring(11)) 


      if(typeof value.cRow !== 'undefined'){
        channelCache = channelCache + value.cRow
      } 

      if(typeof value.qRow !== 'undefined'){
      channelQuery = channelQuery + value.qRow  
      } 

    if(value.tRow == value.sentCount){
      userSyncAllTrue = userSyncAllTrue + 1
    }else{
      userSyncAllFalse = userSyncAllFalse + 1
    }

    if( value.since == '0' || value.since == 0){
      sinceZeroTrue =  sinceZeroTrue + 1
    } else{
      sinceZeroFalse =  sinceZeroFalse + 1
    }
  });


  c1 = new Chart(ctx1, {
    type: 'line',
    data: {
      labels: labelsJ,
      datasets: [  
      {
        label: '_changes Sent',
        data: valuesChangesSent,
        borderWidth: 1,
        borderColor: '#FFA955',
        backgroundColor: '#FFCFA3'
      },
      {
        label: 'Docs Pulled',
        data: valuesSent,
        borderWidth: 1,
        borderColor: '#36A2EB',
        backgroundColor: '#A0D1F5'
      }, 
      {
        label: 'Docs Pushed',
        data: valuesPushCount,
        borderWidth: 1,
        borderColor: '#9C9C9C',
        backgroundColor: '#CFCFCF'
      },  
      {
        label: 'Attachments: Pushed',
        data: valuesPushAttCount,
        borderWidth: 1,
        borderColor: '#9467B6',
        backgroundColor: '#D093FF'
      },{
        label: 'Attachments: Pulled',
        data: valuesPullAttachments,
        borderWidth: 1,
        borderColor: '#32D1C0',
        backgroundColor: '#39FEE8'

      },
       {
        label: 'Conflicts in Sync',
        data: valuesConflicts,
        borderWidth: 1,
        borderColor: '#C1C661',
        backgroundColor: '#ECF177'
      },
      {
        label: 'Errors In Sync',
        data: valuesErrors,
        borderWidth: 1,
        borderColor: '#FF6384',
        backgroundColor: '#FFB2C1'
      }
    ]
    },
    options: {
              onClick: (evt, elements, chart) => {
                if (elements[0]) {            
                    const i = elements[0].index;
                    console.log(chart.data.labels[i] + ': ' + chart.data.datasets[0].data[i]);
                  }
                },
      maintainAspectRatio: false,
      scales: {
        y: {
          beginAtZero: true,
          type: 'logarithmic'
        }, 
        x :{

        }
      },plugins: {
     
        zoom: {
            zoom: {
              mode: 'x',
              drag: {
                  enabled: true,
                  backgroundColor: "#E1E1E1", 
                  borderColor: "#AFADAD",
                  borderWidth: 1
              }
            }
          }
        
        }  
    }
  });


  c2 = new Chart(ctx2, {
    type: 'bar',
    data: {
      labels: labelsJ,
      datasets: [
      {
        label: '_changes (Cache Hit)',
        data: valuesChangesCache,
        borderWidth: 1,
        type:'bar',
        borderColor: '#00CF9B',
        backgroundColor: '#00CF9B'
      },
      {
        label: '_changes (SQL++ Query)',
        data: valuesChangesQuery,
        borderWidth: 1,
        type: 'bar',
        borderColor: '#cc33ff',
        backgroundColor: '#cc33ff'
      }


    ]
    },
    options: {
      plugins: {

        zoom: {
            zoom: {
              mode: 'x',
              drag: {
                  enabled: true,
                  backgroundColor: "#DADADA", 
                  borderColor: "#AFADAD",
                  borderWidth: 2
              }
            }
          }
      },
      maintainAspectRatio: false,
      scales: {
        y: {
          beginAtZero: true,
          stacked: true
        },
        x: {
          stacked: true
        }
      }
    }
  });


  const optionsPie1 = {
    tooltips:{
                  enabled: true
                },
    responsive: true,
   maintainAspectRatio: false,
    plugins: { 
       title: {
               display: true,
              text: '_changes Sent VS Docs Pulled'
              },
      legend: {
        position: 'top'
      },
      datalabels: {
        display: 'auto',
        color: 'black',
        font: {
          weight: 'bold'
        },
        formatter: (value, ctx3) => {
          const total = ctx3.chart.getDatasetMeta(0).total;
          let percentage = (value * 100 / total).toFixed(1) + "%";
          return percentage + ' (' + value + ')';
        },
      }
    }
  }


 c3 = new Chart(ctx3, {
    type: 'pie',
    data: {
      labels: ['Docs Pulled',"Missing or Zero Docs"],
      datasets: [
                {
                  data:[userSyncAllTrue,userSyncAllFalse],
                  backgroundColor: [
                                    '#00CF9B',
                                    '#E55B5E'
                                    ]
                }
                ]
    },
    options: optionsPie1,
    plugins:[ChartDataLabels]
      });




    const optionsPie2 = {
    tooltips:{
                  enabled: true
                },
    responsive: true,
   maintainAspectRatio: false,
    plugins: { 
       title: {
               display: true,
              text: 'Start from Zero (new) VS Old Sync'
              },
      legend: {
        position: 'top'
      },
      datalabels: {
        display: 'auto',
        color: 'black',
        font: {
          weight: 'bold'
        },
        formatter: (value, ctx4) => {
          const total = ctx4.chart.getDatasetMeta(0).total;
          let percentage = (value * 100 / total).toFixed(1) + "%";
          return percentage + ' (' + value + ')';
        },
      }
    }
  }

      c4 = new Chart(ctx4, {
    type: 'pie',
    data: {
      labels: ["New Sync (since=0)","Old Sync"],
      datasets: [
                  {
                    data:[sinceZeroTrue,sinceZeroFalse],
                    backgroundColor: [
                                      '#3366ff',
                                      '#ff9900'
                                      ]
                  }
                ]
    },
    options: optionsPie2,
    plugins:[ChartDataLabels]
      });



    const optionsPie3 = {
    tooltips:{
                  enabled: true
                },
    responsive: true,
   maintainAspectRatio: false,
    plugins: { 
       title: {
               display: true,
              text: '_changes: Cache Hit VS SQL++ Query'
              },
      legend: {
        position: 'top'
      },
      datalabels: {
        display: 'auto',
        color: 'black',
        font: {
          weight: 'bold'
        },
        formatter: (value, ctx5) => {
          const total = ctx5.chart.getDatasetMeta(0).total;
          let percentage = (value * 100 / total).toFixed(1) + "%";
          return percentage;
        },
      }
    }
  }


      c5 = new Chart(ctx5, {
    type: 'pie',
    data: {
      labels: ["Cache Hit","SQL++ Query"],
      datasets: [
                  {
                    data:[channelCache,channelQuery],
                    backgroundColor: [
                                      '#00CF9B',
                                      '#cc33ff'
                                      ]
                  }
                ]
    },
    options: optionsPie3,
    plugins:[ChartDataLabels]
      });

      $('#resultSize').html(resultShow.toLocaleString());

    }


  function makeUserDetails(data){
    $('#userSyncStats').empty();

      $.each(data, function(key, value) {  

        
        var html = '<div class="userDetailList" ondblclick="closeUserDetails(\''+value.cbKey+'\');" onclick=" openUserDetails(\''+value.cbKey+'\');  userSyncDetails(\''+value.cbKey+'\');" <b>'+value.dt +"</b>";
          html = html + ' <b>wsId:</b> ' +value.cbKey;
          html = html + ' <b>Connect Time(sec):</b> ' +value.dtDiffSec+ " ";

          var r = "";
          if (value.tRow > 0){
          r = (value.cRow/value.tRow) * 100;
          var r = r.toFixed(1);
          }

          html = html + ' <b>_changes Sent:</b> ' +value.tRow.toLocaleString(); 

          if(value.tRow === value.sentCount){
            html = html + ' <b>Docs Pulled:</b> ' +value.sentCount.toLocaleString();
          }else{
            html = html + ' <b>Docs Pulled:</b> <span style="color: orange;">' +value.sentCount.toLocaleString()+"</span>";
          }

          html = html + ' <b>Docs Pushed:</b> <span>' +value.pushCount.toLocaleString()+"</span>";

          html = html + ' <b>_changes Cache Hit:</b> ' + r + "% ";
          if(value.blipC === true){
          html = html + ' <b>Sync Closed(blip ended):</b> <span style="color: green;">Yes</span>';
          }else{
          html = html + ' <b>Sync Closed(blip ended):</b> <span style="color: orange;">No</span>';
          }

          if(value.conflicts > 0){
            html = html + ' <b>Conflicts:</b> <span style="color: orange;">' +value.conflicts+"</span>";
          }else{
            html = html + ' <b>Conflicts:</b> ' +value.conflicts;
          }
          
          if(value.errors > 0){
            html = html + ' <b>Errors:</b> <span style="color: red;">' +value.errors+"</span>";
          }else{
            html = html + ' <b>Errors:</b> ' +value.errors;
          }
         html = html + '</div></br><div class="wsIdDetailRow" id="wsIdDetails-'+value.cbKey+'"></div>';
        $('#userSyncStats').append(html) ;    
       });
  }
  
function userFill(username){
  $('#searchByUser').val(username);
}

function userSyncDetails(wsId){

  $('#wsIdDetails-'+wsId).empty();
  data1 = {'wsId':wsId}

  $.ajax({
    type: 'POST',
    url: '/wsId',
    data: JSON.stringify(data1),
    dataType: 'json',
    contentType:'application/json; charset=utf-8',
    success: function(data2) { 
          var html = ''
          html = html + ' <b>Connection Start:</b> '+ data2['dt']+' <b>End:</b> ' + data2["dtEnd"] + ' <b>Connection Time(sec):</b> '+ data2['dtDiffSec']+'</br>'
          html = html + '  <b>Filtered By Channel(s):</b> ' + data2["filterBy"] + ' </br>'
          html = html + '  <b>Since:</b> ' + data2["since"] + ' </br>'
          html = html + wsIdMakeHtml(data2["log"])
          $('#wsIdDetails-'+wsId).html(html)
        }
    });
  }


function wsIdMakeHtml(data){
  var html = '<b>Raw Sync Log</b> </br>'
  $.each(data, function(key, value) {

    var c = "dark"
    if(key % 2 == 0) {
      c = "light"
      }
    html = html + '<div class="ws-'+c+'" >'+ value + '</div>'
    });
  return html
}

function getSampleDt(){

  $.ajax({
        url: "/lastWsId",
        type: 'GET',
        dataType: 'json', // added data type
        success: function(data) {
            
            const dateString = data[0]['dt'];
            const date = new Date(dateString);
            date.setHours(date.getHours() - 6);

          $('#dtFrom').val( date.toISOString().substr(0,19));
          $('#dtTo').val(data[0]['dt']);
          sgDbListGet();

        }
    });
}


 function closeUserDetails(divId){
   $("#wsIdDetails-"+divId).hide()
 }

 function openUserDetails(divId){
   $("#wsIdDetails-"+divId).show()
 }

 $('.zoomReset').click(function(){
    c1.resetZoom();
    c2.resetZoom();
});


</script>  
</body>
</html>