<!DOCTYPE html>
<html>
    <head>
        <title>Sync Gateway Log Reader GUI</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="{{ url_for('static', filename='assets/daterangepicker.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='assets/main.css') }}">

<script src="{{ url_for('static', filename='assets/jquery-1.12.4.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/jquery-ui.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/chart.js') }}"></script>
<script src="{{ url_for('static', filename='assets/moment.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/hammer.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/jquery.daterangepicker.js') }}"></script>
<script src="{{ url_for('static', filename='assets/notify.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/chartjs-plugin-datalabels.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/chartjs-plugin-zoom.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/chartjs-adapter-date-fns.bundle.min.js') }}"></script>
</head>
<body>        
<div class="divTable">
  <div class="divTableBody">
  <div class="divTableRow">
      <div class="divTableCell">
        
          <div class="one" id="datepicker">
          <input type="text" id="dtFrom" name="dtFrom" placeholder="Start Date" value="">
          </br>
          <input type="text" id="dtTo" name="dtTo" placeholder="End Date" value="">
          </div>

      </div>
      <div class="divTableCell">
          <div class="one" id="search">
          <input class="searchInput" type="text" id="searchByUser" name="searchByUser" placeholder="User Name (Optional)" style="width:300px;">
          <button id="search" class="search">Search</button>
          <br>
          <label for="viewBy">X-axis view/group by: </label>
          <select name="viewBy" id="viewBy">
            <option value="">All Entries</option>
            <option value="sec" selected="selected">Seconds</option>
            <option value="min">Minutes</option>
          </select>
          </div>  
      </div>
  </div>
  <div class="divTableRow">
      <div class="divTableCell">
        
          <div id="sgDbList" class="sgList">
            <label for="sgDbListOptions">SG DB List</label>
          </br>
            <select id="sgDbListOptions" style="width: 200px; overflow-x:auto;" size = 3></select>
          </div>

      </div>
      <div class="divTableCell">
       
          <div class="one" id="filterBy">
            <select name="syncResult" id="syncResult">
              <option value="any" selected="selected">Pulled: Any Result</option>
              <option value="full">Pulled: All Docs/Full Sync</option>
              <option value="nonFull">Pulled: Missing Docs Only</option>
              <option value="no">Pulled: No New Docs Only</option>
            </select>

            <select name="noPushes" id="noPushes">
              <option value="any" selected="selected">Pushed: Any Result</option>
              <option value="no">Pushed: Zero Docs Only</option>
              <option value="only">Pushed: 1 or more Docs</option>
            </select>
          <label for="changeCount">   _changes Sent:</label><input class="intInput" type="text" id="changeCount" name="changeCount" placeholder="0 or greater" >
          <label for="syncTime">Time Connected:</label><input class="intInput" type="text" id="syncTime" name="syncTime" placeholder="(sec)" >
          <input type="checkbox" id="sinceZero" name="sinceZero" ><label for="sinceZero">Pulled: Since Zero</label> 
          <input type="checkbox" id="filterByChannels" name="filterByChannels" ><label for="filterByChannels">Pulled: Filtered By Channels</label>
          <input type="checkbox" id="hasPullAttachments" name="hasPullAttachments" ><label for="hasPullAttachments">Pulled: Attachments</label>  
          <input type="checkbox" id="hasAttachments" name="hasAttachments" ><label for="hasAttachments">Pushed: Attachments</label>          
          <input type="checkbox" id="conflicts" name="conflicts" ><label for="conflicts">Has Conflicts</label>
          <input type="checkbox" id="errors" name="errors" ><label for="errors">Has Sync Errors</label>
          <button id="resetFilters" class="reset">Reset Filters</button>
          </div>
          <label for="resultSize">Total Sync Results:</label><b><span id="resultSize" name="ResultSize" ></span> </b>
          <br>
          <label for="sgErrorResultSize">Total SG Process Errors: </label><b><span id="sgErrorResultSize" name="sgErrorResultSize" ></span></b> 
          By:[<label for="importErrorPer">Import:</label><span id="importErrorPer" name="importErrorPer" ></span>% ,
          <label for="wsErrorPer">WebSocket:</label><span id="wsErrorPer" name="wsErrorPer" ></span>% ,
          <label for="queryErrorPer">SQL++:</label><span id="queryErrorPer" name="queryErrorPer" ></span>% ,
          <label for="genErrorPer">General:</label><span id="genErrorPer" name="genErrorPer" ></span>%]
          </br>

      </div>
  </div>
  <div class="divTableRow"  ">
      <div class="divTableCell">
        <div id="sgUserListBox" style="display: inline-block;">
        <label for="sgUserListSelct">User Name (Connected Count)</label>
      </br>
        <select id = "sgUserListSelect" style="width: 200px; overflow-x:auto;" size = 10></select>
      </br>
        Sort By:
        <input type="radio" id="userName" name="userSort" value="name" checked="checked" >
        <label for="userName">Name</label>
        <input type="radio" id="userCount" name="userSort" value="count">
        <label for="userCount">Count</label>
    </br>
    Total Unique User Count: (<b><i><span id="userListTotalCount">Total</span></i></b>)
        </div>
      </div>
      <div class="divTableCell">
        
          <div id="chart1" style="height: 300px;">
            <canvas id="myChart1" ></canvas>
          </div>
         
      </div>
  </div>
  <div class="divTableRow" >

      <div class="divTableCell">
        <button style='float: right; position:relative;' class="zoomReset">Zoom Reset</button>
      </div>
      <div class="divTableCell">

        <div id="chart2" style="height: 300px;">
              <canvas  id="myChart2" ></canvas>
        </div>
        
      </div>
  </div>
  <div class="divTableRow">
      <div class="divTableCell">
        
              &nbsp;

      </div>
      <div class="divTableCell">
          
            <div id="stats">

              <div id="chart3" style="display: inline-block">
                    <canvas width="250" height="250" id="myChart3"></canvas>
              </div>
              <div id="chart4" style="display: inline-block">
                    <canvas width="250" height="250" id="myChart4"></canvas>
              </div>
              <div id="chart5" style="display: inline-block">
                <canvas width="250" height="250" id="myChart5"></canvas>
          </div>
          <div id="chart6" style="display: inline-block">
            <canvas  height="250" id="myChart6"></canvas>
        </div>
            </div>

      </div>
  </div>
  <div class="divTableRow">
      <div class="divTableCell">

            &nbsp;

      </div>
      <div class="divTableCell">

            <div class = "userSyncStats" id="userSyncStats"></div>

            <!-- 
            <table id="userSyncStatsTable">
              <thead>
                <tr class="text-center-row">
                  <th>Time</th>
                  <th>WebSocket Id</th>
                  <th>Connected Time(sec)</th>
                  <th>_changes sent</th>
                  <th>Docs Pulled</th>
                  <th>Docs Pushed</th>
                  <th>_change Cache Hit %</th>
                  <th>Sync Closed(blip ended)</th>
                  <th>Conflicts</th>
                  <th>Errors</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
            -->
            
      </div>
  </div>
  </div>
  </div>
  <!-- DivTable.com -->
<script type="text/javascript" src="{{ url_for('static', filename='assets/main.js') }}"></script>
</body>
</html>